<h1>Este é Apenas Mais um Gerenciador Financeiro</h1>

<p>
Criei este sistema basicamente para gerar boletos paras os meus clientes atuais.</br>

Feito rapidamente e sem muito cuidado. A idéia é organizar o código para disponibilizar como open source.
</p>

<h2>Funções atuais:</h2>
<ul>
  <li>Gerenciar Usuários (sem controle de permissão)</li>
  <li>Gerenciar Clientes</li>
  <li>Gerenciar Vendas
    <ul>
      <li>Gerar Boletos</li>
    </ul>
  </li>
  <li>Gerenciar Contas Bancárias</li>
  <li>Gerenciar Clientes</li>
</ul>

<h2>Para um futuro talvez distante:</h2>
<ul>
  <li>Oraganizar testes pois está uma zona infernal gerada pelo scaffold</li>
  <li>Traduzir parte de usuário</li>
  <li>Gerenciar Serviços</li>
  <li>Vendas terão 1 ou mais Serviços, tendo quantidade atrelada por serviço</li>
  <li>Desconto em vendas</li>
  <li>Parcelas em vendas, e gerar boletos para cada parcela</li>
  <li>Possibilitar a criação de vendas recorrentes</li>
  <li>Selecionar banco para boletos bancários, hoje é apenas Banco do Brasil</li>
  <li>Envio de email, configurando conteúdo utilizando variáveis de vendas, clientes e serviços</li>
  <li>Geração de notas fiscais automatizado</li>
  <li>Controle de permissão por usuário</li>
  <li>Multi usuário, com dados atrelados ao usuário</li>
</ul>

<h2>Quando vai liberar o código?</h2>
<p>
  Quando estiver apresetável para o mundo selvagem... Ou melhor, quando der na telha :)
</p>
